@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: none;
}

body {
  background-color: #800020;
  display: grid;
  place-content: center;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  font-size: 30px;
}

.container {
  height: 80vh;
  width: 50vh;
  background-color: white;
  border-radius: 16px;
  padding: 16px;
  -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}

.wrapper {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 10px;
}

.screen {
  grid-column: 1 / -1;
  color: #800020;
  text-align: right;
  padding: 8px;
  font-size: 40px;
  overflow-x: auto;
  overflow-y: hidden;
}

.btn {
  display: grid;
  place-content: center;
  background-color: #d3d3d3;
  border-radius: 50%;
  color: black;
  cursor: pointer;
  font-weight: bold;
}

.btn:hover {
  background-color: gray;
}

.light-gray {
  background-color: #800020;
  color: white;
}

.light-gray:hover {
  background-color: white;
  color: #800020;
  border: 2px solid #800020;
}

.orange {
  background-color: #800020;
  color: white;
}

.orange:hover {
  border: 2px solid #800020;
  background-color: white;
  color: #800020;
}

.zero {
  grid-column: 1/span 2;
}